Repository GiantCroissant-Lunar/cross-milo: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-namespace, validate-csproj, validate-todo-format, dotnet-format

.pre-commit-config.yaml:

# Pre-commit configuration for cross-milo project
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  # Basic file hygiene and common checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: |
          (?x)^(
            dotnet/.*/bin/.*|  # Exclude .NET build artifacts
            dotnet/.*/obj/.*|  # Exclude .NET build artifacts
            dotnet/.*\.(cs|vb|fs)|  # Let dotnet format handle .NET files
            .*\.md  # Exclude markdown files (trailing spaces are intentional for line breaks)
          )$
      - id: end-of-file-fixer
        exclude: ^(dotnet/.*/bin/.*|dotnet/.*/obj/.*)$
      - id: check-json
        exclude: ^(dotnet/.*/bin/.*|dotnet/.*/obj/.*)$
      - id: check-xml
        exclude: ^(dotnet/.*/bin/.*|dotnet/.*/obj/.*)$
      - id: check-yaml
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: ^(dotnet/.*/bin/.*|dotnet/.*/obj/.*)$
      - id: check-executables-have-shebangs
        exclude: \.(cmd|ps1|bat)$
      - id: check-shebang-scripts-are-executable

  # Secret detection (GitLeaks)
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.28.0
    hooks:
      - id: gitleaks

  # Python linting and formatting (if cross-milo has Python scripts)
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.13.2
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix]
        files: ^scripts/.*\.py$
      - id: ruff-format
        files: ^scripts/.*\.py$

  # YAML linting
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.37.1
    hooks:
      - id: yamllint
        args: [-d, relaxed]
        files: \.(yaml|yml)$

  # Markdown linting (focused on structure, not line length)
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.45.0
    hooks:
      - id: markdownlint
        args: ['--fix', '--disable', 'MD013']  # Disable line length rule

  # .NET validators from hook-validator
  - repo: local
    hooks:
      # C# namespace validation
      - id: check-namespace
        name: Check C# Namespace Conventions
        entry: python3 -m lunar_validators.dotnet.check_namespace
        language: system
        files: \.cs$
        args: [--namespace-prefix=Plate.CrossMilo]
        exclude: '(\.Designer\.cs|\.g\.cs|\.g\.i\.cs|/obj/|/bin/)'

      # .csproj validation
      - id: validate-csproj
        name: Validate .csproj Files
        entry: python3 -m lunar_validators.dotnet.validate_csproj
        language: system
        files: \.csproj$
        exclude: '(/obj/|/bin/)'

      # TODO format validation
      - id: validate-todo-format
        name: Validate TODO Format
        entry: python3 -m lunar_validators.common.validate_todo
        language: system
        types: [text]
        exclude: '(\.min\.|\.generated\.|/obj/|/bin/|/node_modules/)'

      # .NET formatting
      - id: dotnet-format
        name: dotnet format (whitespace + style)
        entry: sh
        args: ['-c', 'if command -v dotnet >/dev/null 2>&1; then cd dotnet/framework && if [ -f "CrossMilo.Contracts.sln" ]; then dotnet format CrossMilo.Contracts.sln --verbosity minimal || true; else echo "No solution found"; fi; else echo "dotnet CLI not found, skipping format"; fi']
        language: system
        files: ^dotnet/.*\.(cs|vb|fs)$
        pass_filenames: false
        require_serial: true

# Configuration for specific tools
default_stages: [pre-commit]
fail_fast: false
minimum_pre_commit_version: 3.0.0

refactor: update validators module name
  .pre-commit-config.yaml
Due: validate-todo-format

feat: add plate-validators configuration
  .plate-validators.yaml
Due: validate-todo-format

docs: organize documentation files into docs/ directory
  docs/BUILD_MIGRATION.md
  docs/HOOK_VALIDATOR_MIGRATION.md
Due: validate-todo-format

fix: resolve circular dependency by extracting shared contracts to CrossMilo.Contracts
  BUILD_MIGRATION.md
  HOOK_VALIDATOR_MIGRATION.md
  dotnet/framework/EVENT-BUS-INTEGRATION.md
  dotnet/framework/src/CrossMilo.Contracts.Analytics/AnalyticsEvents.cs
  dotnet/framework/src/CrossMilo.Contracts.Audio/CrossMilo.Contracts.Audio.csproj
  dotnet/framework/src/CrossMilo.Contracts.Audio/Services/Service.cs
  dotnet/framework/src/CrossMilo.Contracts.Config/ConfigEvents.cs
  dotnet/framework/src/CrossMilo.Contracts.Config/Services/Service.cs
  dotnet/framework/src/CrossMilo.Contracts.Diagnostics/DiagnosticsEvents.cs
  dotnet/framework/src/CrossMilo.Contracts.Input/InputEvents.cs
  dotnet/framework/src/CrossMilo.Contracts.Resilience/CrossMilo.Contracts.Resilience.csproj
  dotnet/framework/src/CrossMilo.Contracts.Resilience/ResilienceEvents.cs
  dotnet/framework/src/CrossMilo.Contracts.Resilience/Services/Service.cs
  dotnet/framework/src/CrossMilo.Contracts.Resource/CrossMilo.Contracts.Resource.csproj
  dotnet/framework/src/CrossMilo.Contracts.Resource/ResourceEvents.cs
  dotnet/framework/src/CrossMilo.Contracts.Resource/Services/Service.cs
  dotnet/framework/src/CrossMilo.Contracts.Scene/SceneEvents.cs
  dotnet/framework/src/CrossMilo.Contracts.TerminalUI/CrossMilo.Contracts.TerminalUI.csproj
  dotnet/framework/src/CrossMilo.Contracts.TerminalUI/Services/Service.cs
  dotnet/framework/src/CrossMilo.Contracts.WebSocket/CrossMilo.Contracts.WebSocket.csproj
  dotnet/framework/src/CrossMilo.Contracts.WebSocket/Services/Service.cs
  dotnet/framework/src/CrossMilo.Contracts/Attributes.cs
  dotnet/framework/src/CrossMilo.Contracts/CrossMilo.Contracts.csproj
  dotnet/framework/src/CrossMilo.Contracts/Exceptions.cs
  dotnet/framework/src/CrossMilo.Contracts/IEventBus.cs
  dotnet/framework/src/CrossMilo.Contracts/IRegistry.cs
  dotnet/framework/src/CrossMilo.Contracts/SelectionMode.cs
  dotnet/framework/src/CrossMilo.Contracts/ServiceMetadata.cs
  dotnet/framework/src/CrossMilo.SourceGenerators.Proxy/ProxyServiceGenerator.cs
Due: check-namespace, validate-csproj, validate-todo-format, dotnet-format

refactor: move TerminalUI from CrossMilo to WingedBean plugin
  docs/TERMINALUI_REFACTORING.md
  dotnet/framework/src/CrossMilo.Contracts.Terminal/CrossMilo.Contracts.Terminal.csproj
  dotnet/framework/src/CrossMilo.Contracts.Terminal/ITerminalApp.cs
  dotnet/framework/src/CrossMilo.Contracts.Terminal/LegacyTerminalAppAdapter.cs
  dotnet/framework/src/CrossMilo.Contracts.TerminalUI/CrossMilo.Contracts.TerminalUI.csproj
  dotnet/framework/src/CrossMilo.Contracts.TerminalUI/Services/Interfaces/IService.cs
  dotnet/framework/src/CrossMilo.Contracts.TerminalUI/Services/Service.cs
Due: check-namespace, validate-csproj, validate-todo-format, dotnet-format

feat: Enable code metrics collection
  build-config.json
  docs/ARCHITECTURE_HOST_VS_UI.md
  docs/CONTRACT_SCOPE_ANALYSIS.md
  docs/MICROSOFT_EXTENSIONS_HOSTING_INTEGRATION.md
  docs/NAMING_DECISION_HOSTING.md
  dotnet/framework/src/CrossMilo.Contracts.Input/GameInputEvent.cs
  dotnet/framework/src/CrossMilo.Contracts.Input/Mapper/Interfaces/IService.cs
  dotnet/framework/src/CrossMilo.Contracts.Input/Router/Interfaces/IService.cs
  dotnet/framework/src/CrossMilo.Contracts.Input/Scope/Interfaces/IService.cs
  dotnet/framework/src/CrossMilo.Contracts.Scene/EntitySnapshot.cs
  dotnet/framework/src/CrossMilo.Contracts.Scene/SceneLayer.cs
  dotnet/framework/src/CrossMilo.Contracts.Scene/Services/Interfaces/IService.cs
Due: check-namespace, validate-todo-format, dotnet-format

fix: Remove non-existent TerminalUI project from solution
  dotnet/framework/CrossMilo.Contracts.sln
  dotnet/framework/src/CrossMilo.Contracts.Analytics/CrossMilo.Contracts.Analytics.csproj
  dotnet/framework/src/CrossMilo.Contracts.Diagnostics/CrossMilo.Contracts.Diagnostics.csproj
  dotnet/framework/src/CrossMilo.Contracts.ECS/DEPRECATED.md
  dotnet/framework/src/CrossMilo.Contracts.Game/DEPRECATED.md
  dotnet/framework/src/CrossMilo.Contracts.Input/CrossMilo.Contracts.Input.csproj
  dotnet/framework/src/CrossMilo.Contracts.Scene/CrossMilo.Contracts.Scene.csproj
Due: validate-csproj, validate-todo-format

refactor: Remove deprecated ECS and Game projects
  .editorconfig
  dotnet/.editorconfig
  dotnet/framework/CrossMilo.Contracts.sln
  dotnet/framework/src/CrossMilo.Contracts.ECS/AuthoringNodeId.cs
  dotnet/framework/src/CrossMilo.Contracts.ECS/CrossMilo.Contracts.ECS.csproj
  dotnet/framework/src/CrossMilo.Contracts.ECS/DEPRECATED.md
  dotnet/framework/src/CrossMilo.Contracts.ECS/EntityHandle.cs
  dotnet/framework/src/CrossMilo.Contracts.ECS/GameMode.cs
  dotnet/framework/src/CrossMilo.Contracts.ECS/IECSSystem.cs
  dotnet/framework/src/CrossMilo.Contracts.ECS/IEntity.cs
  dotnet/framework/src/CrossMilo.Contracts.ECS/IQuery.cs
  dotnet/framework/src/CrossMilo.Contracts.ECS/IWorld.cs
  dotnet/framework/src/CrossMilo.Contracts.ECS/README.md
  dotnet/framework/src/CrossMilo.Contracts.ECS/Services/Interfaces/IService.cs
  dotnet/framework/src/CrossMilo.Contracts.ECS/WorldHandle.cs
  dotnet/framework/src/CrossMilo.Contracts.ECS/WorldKind.cs
  dotnet/framework/src/CrossMilo.Contracts.Game/CrossMilo.Contracts.Game.csproj
  dotnet/framework/src/CrossMilo.Contracts.Game/DEPRECATED.md
  dotnet/framework/src/CrossMilo.Contracts.Game/Dungeon/Interfaces/IService.cs
  dotnet/framework/src/CrossMilo.Contracts.Game/GameEvents.cs
  dotnet/framework/src/CrossMilo.Contracts.Game/GameInputEvent.cs
  dotnet/framework/src/CrossMilo.Contracts.Game/GameTypes.cs
  dotnet/framework/src/CrossMilo.Contracts.Game/GameUI/Interfaces/IService.cs
  dotnet/framework/src/CrossMilo.Contracts.Game/GameUI/Service.cs.manual
  dotnet/framework/src/CrossMilo.Contracts.Game/Render/Interfaces/IService.cs
  dotnet/framework/src/CrossMilo.Contracts.Game/Render/Service.cs.manual
  dotnet/framework/src/CrossMilo.Contracts.Game/RenderBuffer.cs
Due: check-namespace, validate-csproj, validate-todo-format, dotnet-format

refactor: Remove redundant Host.IService and organize documentation
  docs/EVENT-BUS-INTEGRATION.md
  docs/MIGRATION_SUMMARY.md
  docs/README.md
  docs/REORGANIZATION_SUMMARY.md
  dotnet/framework/src/CrossMilo.Contracts.Hosting/Host/Interfaces/IService.cs
Due: check-namespace, validate-todo-format, dotnet-format

feat: Integrate hook-validator for C# formatting
  .pre-commit-config.yaml
  dotnet/framework/src/CrossMilo.Contracts.Terminal/LegacyTerminalAppAdapter.cs
  dotnet/framework/src/CrossMilo.SourceGenerators.Proxy/ProxyServiceGenerator.cs
Due: check-namespace, validate-todo-format, dotnet-format

Phase 1: Add CrossMilo GOAP/Capability contracts and Plate plugins (GoapCkpor, CapabilityOrlia)
  dotnet/framework/src/CrossMilo.Contracts.Capability/CapabilityEvaluatorProxy.cs
  dotnet/framework/src/CrossMilo.Contracts.Capability/CapabilityResult.cs
  dotnet/framework/src/CrossMilo.Contracts.Capability/CrossMilo.Contracts.Capability.csproj
  dotnet/framework/src/CrossMilo.Contracts.Capability/ICapabilityEvaluator.cs
  dotnet/framework/src/CrossMilo.Contracts.Goap/CrossMilo.Contracts.Goap.csproj
  dotnet/framework/src/CrossMilo.Contracts.Goap/GoapPlannerProxy.cs
  dotnet/framework/src/CrossMilo.Contracts.Goap/IGoapPlannerService.cs
  dotnet/tests/test-data/console/.gitkeep
  dotnet/tests/test-data/desktop/.gitkeep
  dotnet/tests/test-data/golden/console/.gitkeep
  dotnet/tests/test-data/golden/desktop/.gitkeep
Due: check-namespace, validate-csproj, validate-todo-format, dotnet-format

CrossMilo.Capability: fix PluginManoi.Contracts relative path
  .agent/local/overrides.md
  .agent/local/overrides.md.backup
  .agent/local/workspace-reference.md
  .agent/rules.lock
  .github/copilot-instructions.md
  AGENTS.md
  AGENTS.md.backup
  CLAUDE.md
  dotnet/framework/src/CrossMilo.Contracts.Capability/CrossMilo.Contracts.Capability.csproj
  dotnet/framework/src/CrossMilo.Contracts.Goap/CrossMilo.Contracts.Goap.csproj
Due: validate-csproj, validate-todo-format

Refactor CrossMilo.Contracts.Input to support generics with backward compatibility
  dotnet/framework/src/CrossMilo.Contracts.Input/Mapper/Interfaces/IService.cs
  dotnet/framework/src/CrossMilo.Contracts.Input/Mapper/Interfaces/IServiceNonGeneric.cs
  dotnet/framework/src/CrossMilo.Contracts.Input/Router/Interfaces/IService.cs
  dotnet/framework/src/CrossMilo.Contracts.Input/Router/Interfaces/IServiceNonGeneric.cs
  dotnet/framework/src/CrossMilo.Contracts.Input/Scope/Interfaces/IService.cs
  dotnet/framework/src/CrossMilo.Contracts.Input/Scope/Interfaces/IServiceNonGeneric.cs
Due: check-namespace, validate-todo-format, dotnet-format

chore(spec): adopt spec-ground baseline (SECURITY.md, CODEOWNERS, CONTRIBUTING.md, templates)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/copilot-instructions.md.backup
  AGENTS.md
  CLAUDE.md.backup
  CONTRIBUTING.md
  SECURITY.md
  SUPPORT.md
  docs/adr/0000-template.md
  dotnet/framework/src/CrossMilo.Contracts.Recorder/Video/IVideoEncoder.cs
  dotnet/framework/src/CrossMilo.Contracts.Recorder/Video/IVideoExporter.cs
  dotnet/framework/src/CrossMilo.Contracts.Recorder/Video/RecordingSyncMetadata.cs
Due: check-namespace, validate-todo-format, dotnet-format

Remove game-specific types and proxy services from CrossMilo.Contracts.Input
  dotnet/framework/src/CrossMilo.Contracts.Input/GameInputEvent.cs
  dotnet/framework/src/CrossMilo.Contracts.Input/Mapper/Interfaces/IServiceNonGeneric.cs
  dotnet/framework/src/CrossMilo.Contracts.Input/Mapper/Service.cs
  dotnet/framework/src/CrossMilo.Contracts.Input/Router/Interfaces/IServiceNonGeneric.cs
  dotnet/framework/src/CrossMilo.Contracts.Input/Router/Service.cs
  dotnet/framework/src/CrossMilo.Contracts.Input/Scope/Interfaces/IServiceNonGeneric.cs
  dotnet/framework/src/CrossMilo.Contracts.Input/Scope/Service.cs
  dotnet/framework/src/CrossMilo.Contracts.Recorder/Video/IVideoEncoder.cs
  dotnet/framework/src/CrossMilo.Contracts.Recorder/Video/IVideoExporter.cs
  dotnet/framework/src/CrossMilo.Contracts.Recorder/Video/RecordingSyncMetadata.cs
Due: check-namespace, validate-todo-format, dotnet-format

Remove backup files after restoration
  .agent/local/overrides.md.backup
  .github/copilot-instructions.md.backup
  AGENTS.md.backup
  CLAUDE.md.backup
Due: validate-todo-format

Update IVideoExporter namespace and add necessary imports
  dotnet/framework/src/CrossMilo.Contracts.Recorder/Video/IVideoExporter.cs
Due: check-namespace, validate-todo-format, dotnet-format
